<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
  </mat-card-header>
    <mat-grid-list cols="2">
        <mat-grid-tile class="card-content-container">
            <mat-card-content class="card-content" routerLink="/Hiragana">Hiragana</mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile class="card-content-container">
            <mat-card-content class="card-content" routerLink="/Katakana">Katakana</mat-card-content>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>



<!--
    <div style="margin-top: 50px;">
  <mat-grid-list cols="2" class="card-content-container" rowHeight="300px" rowWidth="200px" style="" mar>
    <mat-grid-tile class="card-content" routerLink="/Hiragana" colspan="1">Hiragana</mat-grid-tile>
    <mat-grid-tile class="card-content" routerLink="/Katakana" colspan="1">Katakana</mat-grid-tile>  
  </mat-grid-list>
</div>
-->
