.container{
    justify-content: center;
    text-align: center;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .green{
    color: lightgreen;
  }
  .grey{
    color: grey;
  }
  .light-green-background {
    background-color: lightgreen;
  }
  
  .grey-background {
    background-color: grey;
  }
  .table-bordered {
    border-collapse: collapse;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid black;
    padding: 8px;
  }
 
 
  
  
  
  
  
  
  
