<div class="container">
  <h1 *ngIf="!showScore">Hiragana Quiz Instructions</h1>
  <p *ngIf="!showScore">1. rule one</p>
  <p *ngIf="!showScore">2. rule two</p>
  <p *ngIf="!showScore">3. rule three</p>
  
  <mat-card>
    <div *ngIf="gameData && gameData.length > 0">
      <div class="card-grid">
        <div *ngFor="let card of gameData;">
          <mat-card style="height: 250px; padding-top: 25px;" *ngIf="!showScore" [ngClass]="{'light-green-background': card.score.correct, 'grey-background': card.score.wrong}">
            <div class="card-container" >
              <p style="font-weight: bolder; font-size: 40px;">{{ card.hiragana }}</p>
              <input matInput [(ngModel)]="card.answer" placeholder="Type Romaji" (keydown.enter)="quizGrade(card);" [disabled]="card.RightAnswerDisable">
              <p>Correct: {{ card.score.correct }}</p>
              <p>Incorrect: {{ card.score.wrong }}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <button mat-button (click)="onSubmit()" *ngIf="!showScore">Submit</button>
  </mat-card>
  <mat-card *ngIf="showScore">
    <div *ngIf="Totalscore.correct + Totalscore.wrong > 0">
      <h3>Total Grade</h3>
      <p>Percentage: {{ (Totalscore.correct / (Totalscore.correct + Totalscore.wrong) * 100).toFixed(2) }}%</p>
      <button mat-button (click)="reloadGame()">Retry Quiz</button>
      <button mat-button routerLink="/Hiragana">Try New Quiz</button>
      <button mat-button routerLink="/Katakana">Try Katakana</button>
      <button mat-button routerLink="/Home">Back Home</button>
    </div>
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Hiragana</th>
          <th>Correct</th>
          <th>Incorrect</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of gameData">
          <td style="font-size: 28px; font-weight: bold;">{{ card.hiragana }}</td>
          <td style="font-size: 28px; font-weight: bold;">
            <span *ngIf="card.score.correct" style="color:lightgreen" >&#10004;</span>
            <span *ngIf="!card.score.correct">😐</span>
          </td>
          <td style="font-size: 28px; font-weight: bold; ">
            <span *ngIf="card.score.wrong" style="color: red">&#10006;</span>
            <span *ngIf="!card.score.wrong">😀</span>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>





  <!--
    <div *ngIf="gameData && gameData.length > 0">
  <div *ngFor="let card of gameData">
    <h1>Match the Romaji</h1>
    <p>Hiragana: {{ card.hiragana }}</p>
    <input [(ngModel)]="card.answer" placeholder="Type the Romaji">
    <button (click)="quizGrade(card)">Submit</button>
    <p>Correct: {{ card.score.correct }}</p>
    <p>Incorrect: {{ card.score.wrong }}</p>
  </div>
</div>

<div *ngIf="gameData && gameData.length === 0">
  <h1>Game Over</h1>
  <p>Your final score:</p>
  <p>Correct: {{ Totalscore.correct }}</p>
  <p>Incorrect: {{ Totalscore.wrong }}</p>
</div>

    
    
    
    
    <div *ngIf="card">
    <h1>Match the Romaji</h1>
    <p>Hiragana: {{ card.hiragana }}</p>
    <input [(ngModel)]="answer" placeholder="Type the Romaji">
    <button (click)="quizGrade()">Submit</button>
    <p>Correct: {{ score.correct }}</p>
    <p>Incorrect: {{ score.wrong }}</p>
  </div>
  <div *ngIf="!card">
    <h1>Game Over</h1>
    <p>Your final score:</p>
    <p>Correct: {{ score.correct }}</p>
    <p>Incorrect: {{ score.wrong }}</p>


 
  </div>-->