<p>Read Local JSON file student data using typescript HttpClient</p>

  <table id="character">
    <tr>
        <th>Hiragana</th>
        <th>Romaji</th>
    </tr>
    <tr *ngFor="let character of objectKeys(id).slice(0, 103)">
      <td>{{ id[character].hiragana }}</td>
      <td>{{ id[character].romaji }}</td>
    </tr>
  </table>

  


  <!--

    <table id="student">
    <tr>
      
    </tr>
    <ng-container *ngFor="let student of objectKeys(id)">
      <tr *ngIf="student === '2'">
        <td>{{ id[student].hiragana }}</td>
        <td>{{ id[student].romaji }}</td>
      </tr>
    </ng-container>
  </table>

  <form>
    <label>
      <input type="radio" name="option" value="a" [(ngModel)]="selectedOption"> <div *ngIf="content">
        
      </div>
    </label>
    <label>
      <input type="radio" name="option" value="b" [(ngModel)]="selectedOption"> <div *ngIf="content">
        {{ content }}
      </div>
    </label>
    <button (click)="showContent()">Submit</button>
  </form>
  -->

