.container {
  text-align: center;
  margin-top: 20px;
}
p {
  margin-top: px;
}
.full-width {
  width: 100%;
  margin-bottom: 10px;
}




.correct-feedback {
    color: green;
  }
  
  .incorrect-feedback {
    color: red;
  }
 
  