<div class="container">
  <h2>Hiragana Quiz Instructions</h2>
  <p>1. Rule One</p>
  <p>2. Rule Two</p>
  <p>3. Rule Three</p>

<mat-card>
  <mat-button-toggle value="character_all" (click)="adjustLearningList(hiragana_all)" style="margin-bottom: 15px;">
    All Kana
  </mat-button-toggle>
  <div class="card-container">
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-lg-4">
        <mat-card style="height: 100%;">
          <mat-card-content>
            <h3>Main Kana</h3>
            <mat-button-toggle-group vertical multiple class="full-width">
              <mat-button-toggle value="character_main" (click)="adjustLearningList(hiragana_main)" >All Main Kana</mat-button-toggle>
              <mat-button-toggle  value="character_a" (click)="adjustLearningList(hiragana_a)">Hiragana a</mat-button-toggle>
              <mat-button-toggle  value="character_ka" (click)="adjustLearningList(hiragana_ka)">Hiragana ka</mat-button-toggle>
              <mat-button-toggle  value="character_sa" (click)="adjustLearningList(hiragana_sa)">Hiragana sa</mat-button-toggle>
              <mat-button-toggle  value="character_ta" (click)="adjustLearningList(hiragana_ta)">Hiragana ta</mat-button-toggle>
              <mat-button-toggle  value="character_na" (click)="adjustLearningList(hiragana_na)">Hiragana na</mat-button-toggle>
              <mat-button-toggle  value="character_ha" (click)="adjustLearningList(hiragana_ha)">Hiragana ha</mat-button-toggle>
              <mat-button-toggle  value="character_ma" (click)="adjustLearningList(hiragana_ma)">Hiragana ma</mat-button-toggle>
              <mat-button-toggle  value="character_ra" (click)="adjustLearningList(hiragana_ra)">Hiragana ra</mat-button-toggle>
              <mat-button-toggle  value="character_ya" (click)="adjustLearningList(hiragana_ya)">Hiragana ya</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4">
        <mat-card style="height: 100%;">
          <mat-card-content>
            <h3>Special Kana</h3>
            <mat-button-toggle-group vertical multiple class="full-width">
              <mat-button-toggle value="character_special" (click)="adjustLearningList(hiragana_special)">All Special Kana</mat-button-toggle>
              <mat-button-toggle  value="character_ga" (click)="adjustLearningList(hiragana_ga)">Hiragana ga</mat-button-toggle>
              <mat-button-toggle  value="character_da" (click)="adjustLearningList(hiragana_da)">Hiragana da</mat-button-toggle>
              <mat-button-toggle  value="character_za" (click)="adjustLearningList(hiragana_za)">Hiragana za</mat-button-toggle>
              <mat-button-toggle  value="character_ba" (click)="adjustLearningList(hiragana_ba)">Hiragana ba</mat-button-toggle>
              <mat-button-toggle  value="character_pa" (click)="adjustLearningList(hiragana_pa)">Hiragana pa</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4">
        <mat-card style="height: 100%;">
          <mat-card-content>
            <h3>Combined Kana</h3>
            <mat-button-toggle-group vertical multiple class="full-width">
              <mat-button-toggle value="character_combined" (click)="adjustLearningList(hiragana_combined)">All Combined Kana</mat-button-toggle>
              <mat-button-toggle  value="character_kya" (click)="adjustLearningList(hiragana_kya)">Hiragana kya</mat-button-toggle>
              <mat-button-toggle  value="character_sha" (click)="adjustLearningList(hiragana_sha)">Hiragana sha</mat-button-toggle>
              <mat-button-toggle  value="character_cha" (click)="adjustLearningList(hiragana_cha)">Hiragana cha</mat-button-toggle>
              <mat-button-toggle  value="character_nya" (click)="adjustLearningList(hiragana_nya)">Hiragana nya</mat-button-toggle>
              <mat-button-toggle  value="character_hya" (click)="adjustLearningList(hiragana_hya)">Hiragana hya</mat-button-toggle>
              <mat-button-toggle  value="character_mya" (click)="adjustLearningList(hiragana_mya)">Hiragana mya</mat-button-toggle>
              <mat-button-toggle  value="character_rya" (click)="adjustLearningList(hiragana_rya)">Hiragana rya</mat-button-toggle>
              <mat-button-toggle  value="character_gya" (click)="adjustLearningList(hiragana_gya)">Hiragana gya</mat-button-toggle>
              <mat-button-toggle  value="character_ja" (click)="adjustLearningList(hiragana_ja)">Hiragana ja</mat-button-toggle>
              <mat-button-toggle  value="character_dya" (click)="adjustLearningList(hiragana_dya)">Hiragana dya</mat-button-toggle>
              <mat-button-toggle  value="character_bya" (click)="adjustLearningList(hiragana_bya)">Hiragana bya</mat-button-toggle>
              <mat-button-toggle  value="character_pya" (click)="adjustLearningList(hiragana_pya)">Hiragana pya</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
    <button [disabled]="!startLearning" mat-raised-button (click)="startLearning()">Start Quiz</button>
    <button mat-raised-button routerLink="/HiraganaKatakanaHome">Back</button>
</mat-card>
</div>
  <!--
 
<div *ngFor="let category of hiraganaCategories">
  <h3>{{ category.name }}</h3>
  <ul>
    <li *ngFor="let character of category.characters">
      <label>
        <input type="checkbox" (change)="adjustLearningList(character)">
        {{ character.hiragana }} - {{ character.romaji }}
      </label>
    </li>
  </ul>
</div>

<button [disabled]="!startLearning" (click)="startLearning()">Start Learning</button>
    <div class="container">
  <div class="button-container">
    <mat-button-toggle >a</mat-button-toggle>
    
  </div>
</div>

<div *ngIf="!gameStarted">
  <button (click)="startQuiz()">Start Quiz</button>
</div>

<div *ngIf="gameStarted">
  <div>
    <p>Hiragana: {{ currentCard.hiragana }}</p>
    <input [(ngModel)]="userInput" placeholder="Type the Romaji">
    <button (click)="submitAnswer()">Submit</button>
  </div>
  <div>
    <p>Score: {{ score }}</p>
  </div>
</div>
    <div>
  <p>hiragana_1: {{ hiragana_1}} - {{ hiragana_1?.romaji}}</p>
  <p>hiragana_2: {{ hiragana_2 }} - {{ hiragana_2?.[1]?.romaji }}</p>
  <p>hiragana_3: {{ hiragana_3}} - {{ hiragana_3?.[1]?.romaji }}</p>
  <p>hiragana_F: {{ hiragana_F?.hiragana }} - {{ hiragana_F?.romaji }} - {{ hiragana_F?.katakana }}</p>
  
</div>
    

    <div class="card">
  <div class="card-content">
    <p>hiragana_1: {{ hiragana_1 }}</p>
    <input type="text" [(ngModel)]="hiragana_1Input" (keyup)="checkAnswer(hiragana_1Input, hiragana_2)">
    <p *ngIf="hiragana_1Input && !isAnswerCorrect(hiragana_1Input, hiragana_2)" class="incorrect-feedback">Incorrect answer</p>
    <p *ngIf="hiragana_1Input && isAnswerCorrect(hiragana_1Input, hiragana_2)" class="correct-feedback">Correct answer</p>
  </div>
</div>
  
    <p>Read Local JSON file student data using typescript HttpClient</p>

  <table id="character">
    <tr>
        <th>Hiragana</th>
        <th>Romaji</th>
    </tr>
    <tr *ngFor="let character of objectKeys(id).slice(0, 103)">
      <td>{{ id[character].hiragana }}</td>
      <td>{{ id[character].romaji }}</td>
    </tr>
  </table>


    <table id="student">
    <tr>
      
    </tr>
    <ng-container *ngFor="let student of objectKeys(id)">
      <tr *ngIf="student === '2'">
        <td>{{ id[student].hiragana }}</td>
        <td>{{ id[student].romaji }}</td>
      </tr>
    </ng-container>
  </table>

  <form>
    <label>
      <input type="radio" name="option" value="a" [(ngModel)]="selectedOption"> <div *ngIf="content">
        
      </div>
    </label>
    <label>
      <input type="radio" name="option" value="b" [(ngModel)]="selectedOption"> <div *ngIf="content">
        {{ content }}
      </div>
    </label>
    <button (click)="showContent()">Submit</button>
  </form>




  <div *ngIf="isLoading">
  Loading...
</div>

<div *ngIf="!isLoading">
  <h2>Select Romaji:</h2>
  <mat-button-toggle-group #buttonGroup="matButtonToggleGroup">
    <mat-button-toggle *ngFor="let romaji of romaji" (change)="onRomajiToggle(romaji, $event.source.checked)">
      {{ romaji }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-raised-button color="primary" (click)="startQuiz()">Start Quiz</button>

  <div *ngIf="showQuiz">
    <h2>Quiz:</h2>
    <div *ngFor="let card of cards; let i = index">
      <mat-card [ngClass]="{'correct': card.isCorrect === true, 'incorrect': card.isCorrect === false, 'answered': card.answered}">
        <mat-card-header>
          <mat-card-title>{{ card.hiragana }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput [disabled]="card.answered" [(ngModel)]="card.userAnswer" (input)="onCardAnswered(i, card.userAnswer)">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>

    <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
  </div>

  <div *ngIf="showScore">
    <h2>Score:</h2>
    <p>{{ score }}%</p>
  </div>
</div>

  -->

