





  <!--<div class="container">
  <button mat-button ="!mainButtonActive" (click)="toggleMainButton()">{{ mainButtonActive ? 'Deactivate' : 'Activate' }} Main Button</button>
</div>



 mainButtonActive = false;

  toggleMainButton() {
    if (this.mainButtonActive) {
      // Deactivate the button
      this.mainButtonActive = false;
    } else {
      // Activate the button
      this.mainButtonActive = true;
    }
  }


  <div class="container">
  <form ></form>
</div>





<p>Read Local JSON file student data using typescript HttpClient</p>

  <table id="character">
    <tr>
        <th>katakana</th>
        <th>Romaji</th>
    </tr>
    <tr *ngFor="let character of objectKeys(id).slice(0, 103)">
      <td>{{ id[character].katakana }}</td>
      <td>{{ id[character].romaji }}</td>
    </tr>
  </table>

-->

 

