<div class="container" style="text-align: center; justify-content: center;">
    <mat-grid-list cols="2">
      <mat-card-title style="padding-top: 100px;">This is a title</mat-card-title>
      <mat-grid-tile>
        <app-home-mini-game-card-structure 
          gameRoutePath="/HiraganaKatakanaHome"
          gameFrontCardTitle="あ\ア"
          gameNameTitle="Japanese Language Game"
          gameDescription="Test">  
        </app-home-mini-game-card-structure>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
 
